<div>
  <div class="panel mb25">
    <div class="panel-heading border">
      <b>{{ (paramId !='new') ? 'Modify':'Add' }} Time Spend on Case</b>
    </div>
    <div class=panel-body>
      <div class="row no-margin">
        <div class=col-lg-12>
          <form name="timeTrackingForm" (ngSubmit)="timeTrackingForm.form.valid && save()" #timeTrackingForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="AssociateName">Associate Name
                    <span class="req">*</span>
                  </label>
                  <input ngui-auto-complete class="form-control" id="AssociateName" [(ngModel)]="model.AssociateId" name="AssociateName" [source]="associateNameSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" value-property-name="Id"
                    (valueChanged)="onSelectAssociateName($event)" display-property-name="Name" required #AssociateName="ngModel"
                    [class.inValidField]="timeTrackingForm.submitted && !AssociateName.valid" />
                  <label *ngIf="timeTrackingForm.submitted && !AssociateName.valid" class="err-label">
                    Please select Associate Name
                  </label>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="date">Date
                    <span class="req">*</span>
                  </label>
                  <input class="form-control" [(ngModel)]="model.TaskDate" required ngui-datetime-picker date-only="true" name="date" id="date"
                    #TaskDate="ngModel" [class.inValidField]="timeTrackingForm.submitted && !model.TaskDate"/>
                    <label *ngIf="timeTrackingForm.submitted && !model.TaskDate" class="err-label">
                      Please select date
                    </label>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="TaskCategory">Task Category
                    <span class="req">*</span>
                  </label>
                  <input ngui-auto-complete class="form-control" required [(ngModel)]="model.TaskCategoryName" name="TaskCategory" [source]="taskCategorySearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" value-property-name="Id"
                    (valueChanged)="onSelectTaskCategory($event)" display-property-name="Name" 
                    [class.inValidField]="timeTrackingForm.submitted && !model.TaskCategoryName"/>
                    <label *ngIf="timeTrackingForm.submitted && !model.TaskCategoryName" class="err-label">
                      Please select Task Category
                    </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="HoursSpend">Hours spend - (Worked Hours)
                    <span class="req">*</span>
                  </label>
                  <input class="form-control" type="number" id="HoursSpend" required name="HoursSpend" pattern="^\d+(\.\d{1,2})?$" step="1"
                    [(ngModel)]="model.WorkedHours" #HoursSpend="ngModel" [class.inValidField]="timeTrackingForm.submitted && !HoursSpend.valid"/>
                    <label *ngIf="(timeTrackingForm.submitted || HoursSpend.dirty) && HoursSpend.errors && HoursSpend.errors['required']" class="err-label">
                      Please enter Hours spend</label>
                    <label *ngIf="(timeTrackingForm.submitted || HoursSpend.dirty) && HoursSpend.errors && HoursSpend.errors['pattern']" class="err-label">
                      Enter Valid Hours spend</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="BilledHours">Billed Hours
                    <span class="req">*</span>
                  </label>
                  <input class="form-control" type="number" id="BilledHours" required name="BilledHours" pattern="^\d+(\.\d{1,2})?$" step="1"
                    [(ngModel)]="model.BilledHours" #BilledHours="ngModel" [class.inValidField]="timeTrackingForm.submitted && !BilledHours.valid"/>
                    <label *ngIf="(timeTrackingForm.submitted || BilledHours.dirty) && BilledHours.errors && BilledHours.errors['required']" class="err-label">
                      Please enter Billed Hours</label>
                    <label *ngIf="(timeTrackingForm.submitted || BilledHours.dirty) && BilledHours.errors && BilledHours.errors['pattern']" class="err-label">
                      Enter Valid Billed Hours</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Rate">Rate
                    <span class="req">*</span>
                  </label>
                  <input class="form-control" type="number" id="Rate" required name="Rate" pattern="^\d+(\.\d{1,2})?$" step="0.01" [(ngModel)]="model.Rate"
                    #Rate="ngModel" [class.inValidField]="timeTrackingForm.submitted && !Rate.valid"/>
                    <label *ngIf="(timeTrackingForm.submitted || Rate.dirty) && Rate.errors && Rate.errors['required']" class="err-label">
                      Please enter Rate</label>
                    <label *ngIf="(timeTrackingForm.submitted || Rate.dirty) && Rate.errors && Rate.errors['pattern']" class="err-label">
                      Enter Valid Rate</label>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Details">Detail</label>
                  <textarea id="Details" name="Details" maxlength="250" class="form-control" [(ngModel)]="model.Details" #Details="ngModel"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="checkbox" id="DontBill" name="DontBill" [(ngModel)]="model.DontBill" #DontBill="ngModel"> Do Not bill
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
                <i class="fa fa-times-circle mr5"></i> Cancel
              </a>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="clr"></div>
</div>