<div>
  <div class="panel mb25">
    <div class="panel-heading border">
      <b>{{ (paramId !='new') ? 'Modify':'Add' }} Communication</b>
    </div>
    <div class=panel-body>
      <div class="row no-margin">
        <div class=col-lg-12>
          <form name="communicationForm" (ngSubmit)="communicationForm.form.valid && save()" #communicationForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CommunicateDate">Communicate Date <span class="req">*</span></label>
                  <input class="form-control" [(ngModel)]="model.CommunicateDate" ngui-datetime-picker date-only="true" #CommunicateDate="ngModel"
                    required name="CommunicateDate" id="CommunicateDate" [class.inValidField]="communicationForm.submitted && !CommunicateDate.valid"
                  />
                  <label *ngIf="communicationForm.submitted && !CommunicateDate.valid" class="err-label">
                    Please select Communicate Date.
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CommunicationType">Communication Type</label>
                  <select class="form-control" [(ngModel)]="model.CommunicationType" #CommunicationType="ngModel" id="CommunicationType" name="CommunicationType">
                    <option *ngFor="let ctype of CommunicationTypeDropDown" value={{ctype.Id}}>
                      {{ctype.Name}}
                    </option>
                  </select>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CommunicateFromId">Communicate From <span class="req">*</span></label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="CommunicateFromId" name="CommunicateFromId" [source]="contactSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" (valueChanged)="onSelectCommunicateFrom($event)"
                    value-property-name="Id" display-property-name="Name" [class.inValidField]="communicationForm.submitted && !CommunicateDate.CommunicateFromId"
                  />
                  <label *ngIf="communicationForm.submitted && !model.CommunicateFromId" class="err-label">
                    Please select valid Complain By.
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CommunicateToId">Communicate To <span class="req">*</span></label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="CommunicateToId" name="CommunicateToId" [source]="contactSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" (valueChanged)="onSelectCommunicateTo($event)"
                    value-property-name="Id" display-property-name="Name" [class.inValidField]="communicationForm.submitted && !CommunicateDate.CommunicateToId"
                  />
                  <label *ngIf="communicationForm.submitted && !model.CommunicateToId" class="err-label">
                    Please select valid Complain Of.
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Summary">Summary</label>
                  <input type="text" id="Summary" name="Summary" maxlength="250" class="form-control" [(ngModel)]="model.Summary" #Summary="ngModel"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CommunicationDetails">Communication Details</label>
                  <input type="text" id="CommunicationDetails" name="CommunicationDetails" maxlength="250" class="form-control" [(ngModel)]="model.CommunicationDetails"
                    #CommunicationDetails="ngModel" />
                </div>
              </div>
            </div>

            <div class="row">
              <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
                <i class="fa fa-times-circle mr5"></i> Cancel
              </a>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="clr"></div>
</div>