<div class="u-position-relative u-overflow-hidden">
  <div class="nav__shadow"></div>
  <nav class="nav">
    <ul class="nav__menu">
      <li class="paragraph paragraph--smaller nav__menu-item nav__menu-item--active">
        <a href="javascript:void(0)" class="nav__menu-link">Dashboard</a>
      </li>
      <li class="paragraph paragraph--smaller u-weight-lgt u-color-gray-alt-3 nav__menu-item">
        <a href="javascript:void(0)" class="nav__menu-link">Energy Profiling</a>
      </li>
      <li class="paragraph paragraph--smaller u-weight-lgt u-color-gray-alt-3 nav__menu-item">
        <a href="javascript:void(0)" class="nav__menu-link">Demand Response</a>
      </li>
      <li class="paragraph paragraph--smaller u-weight-lgt u-color-gray-alt-3 nav__menu-item">
        <a href="javascript:void(0)" class="nav__menu-link">Sustainability</a>
      </li>
      <li class="paragraph paragraph--smaller u-weight-lgt u-color-gray-alt-3 nav__menu-item">
        <a href="javascript:void(0)" class="nav__menu-link">Energy Efficiency</a>
      </li>
      <li class="paragraph paragraph--smaller u-weight-lgt u-color-gray-alt-3 nav__menu-item">
        <a href="javascript:void(0)" class="nav__menu-link">Analytics</a>
      </li>
      <li class="paragraph paragraph--smaller u-weight-lgt u-color-gray-alt-3 nav__menu-item">
        <a href="javascript:void(0)" class="nav__menu-link">Administration</a>
      </li>
    </ul>
  </nav>
</div>