<div>
  <div class="panel mb25">
    <div class="panel-heading border">
      {{ (paramId !='new') ? 'Modify':'Add' }} Case
    </div>
    <div class=panel-body>
      <div class="row no-margin">
        <div class=col-lg-12>
          <form name="caseForm" (ngSubmit)="caseForm.form.valid && save()" #caseForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseNumber">Case Number</label>
                  <input type="text" maxlength="50" id="CaseNumber" name="CaseNumber" required class="form-control" [(ngModel)]="model.CaseNumber"
                    #CaseNumber="ngModel" />
                  <label *ngIf="caseForm.submitted && !CaseNumber.valid" class="err-label">
                    Please enter Case Number
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Status">Status</label>
                  <input type="text" maxlength="50" id="Status" name="Status" required class="form-control" [(ngModel)]="model.Status" #Status="ngModel"
                  />
                  <label *ngIf="caseForm.submitted && !Status.valid" class="err-label">
                    Please enter Status
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Start Date">Start Date</label>
                  <div class="input-group">
                    <!-- <input class="form-control" style="float:none" placeholder="Select Start Date" ngx-mydatepicker name="StartDate" id="StartDate"
                      [(ngModel)]="model.StartDate" #StartDate="ngModel" [options]="myOptions" #dp="ngx-mydatepicker" (click)="dp.openCalendar()" -->
                    />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                        <i class="glyphicon glyphicon-remove"></i>
                      </button>
                      <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="EndDate">End Date</label>
                  <div class="input-group">
                    <!-- <input class="form-control" style="float:none" placeholder="Select a End Date" ngx-mydatepicker name="EndDate" [(ngModel)]="model.EndDate"
                      [options]="myOptions" #dp1="ngx-mydatepicker" /> -->
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" (click)="dp1.clearDate()">
                        <i class="glyphicon glyphicon-remove"></i>
                      </button>
                      <button type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <button type="button" class="btn btn-default btn-gray" kendoButton (click)="onCancleClick()">Cancel</button>
              <button type="submit" [disabled]="isLoading" class="btn btn-default" kendoButton>{{ isLoading == true ? 'Saving...' : 'Save' }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
  <div class="clr"></div>
</div>