<div class="p10 clearfix">
  <button type="button" class="btn btn-default pull-right ml5" kendoButton (click)='router.navigate(["/contact/list"])'>Goto List</button>
  <button type="button" class="btn btn-success pull-right" (click)='router.navigate(["/contact/new"])'>Add Contact</button>
</div>
<div class="row">
  <div class=col-md-2>

    <div class="widget bg-primary overflow-hidden">
      <div class="widget-details">
        <h4 class="no-margin">{{dashboardData.TotalContact}}</h4>
        <span>Total Contact</span>
      </div>
    </div>
    <!-- <div class="widget bg-white">
      <div class=overflow-hidden>
        <span class=widget-title>{{dashboardData.TotalContact}}</span>
        <span class=widget-subtitle>Total Contact</span>
      </div>
    </div> -->
  </div>
  <div class=col-md-2>
    <div class="widget bg-success overflow-hidden">
      <div class="widget-details">
        <h4 class="no-margin">{{dashboardData.TotalAdvocate}}</h4>
        <span>Total Advocate</span>
      </div>
    </div>
  </div>
  <div class=col-md-2>
    <div class="widget bg-warning overflow-hidden">
      <div class="widget-details">
        <h4 class="no-margin">{{dashboardData.TotalClient}}</h4>
        <span>Total Client</span>
      </div>
    </div>
  </div>
  <div class=col-md-2>
    <div class="widget bg-brown overflow-hidden">
      <div class="widget-details">
        <h4 class="no-margin">{{dashboardData.TotalLawFirm}}</h4>
        <span>Total Law Firm</span>
      </div>
    </div>
  </div>
  <div class=col-md-2>
    <div class="widget bg-lightblue overflow-hidden">
      <div class="widget-details">
        <h4 class="no-margin">{{dashboardData.TotalOther}}</h4>
        <span>Total Other</span>
      </div>
    </div>
  </div>
</div>
<div class="row mb25">
  <div class=col-md-12>
    <div class=box-tab>
      <ul class="nav nav-tabs">
        <li class=active>
          <a href=#new data-toggle=tab (click)="getNewlyAddedData()">Latest Contacts</a>
        </li>
        <li>
          <a href=#client data-toggle=tab (click)="tabSelect(1)">Client</a>
        </li>
        <li>
          <a href=#advocate data-toggle=tab (click)="tabSelect(2)">Advocate</a>
        </li>
        <li>
          <a href=#law data-toggle=tab (click)="tabSelect(3)">Law Firm</a>
        </li>
        <li>
          <a href=#other data-toggle=tab (click)="tabSelect(4)">Other</a>
        </li>
      </ul>
      <div class=tab-content>
        <div class="tab-pane active in" id='new'>
          <app-contact-grid class="p10" [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='client'>
          <app-contact-grid class="p10" [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='advocate'>
          <app-contact-grid class="p10" [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='law'>
          <app-contact-grid class="p10" [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='other'>
          <app-contact-grid class="p10" [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
      </div>
    </div>
  </div>
</div>