<div class="p10 clearfix">
  <!-- <button type="button" class="btn btn-default pull-right ml5" kendoButton (click)='router.navigate(["/contact/list"])'>Goto List</button> -->
  <button type="button" class="btn btn-create pull-right" (click)='router.navigate(["/contact/new"])'>
    <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
</div>
<div class="row">
  <div class="col-md-2">
    <section class="widget bg-brown text-center">
      <div class="widget-details">
        <h2 class="no-margin bold">{{dashboardData.TotalContact}}</h2>
        <small class="text-uppercase">Total Contacts</small>
      </div>
      <div class="widget-details">
        <div class="climacon hail sun fa-4x"></div>
      </div>
    </section>
  </div>
  <div class=col-md-2>
    <section class="widget bg-success text-center">
      <div class="widget-details">
        <h2 class="no-margin bold">{{dashboardData.TotalAdvocate}}</h2>
        <small class="text-uppercase">Total Advocate</small>
      </div>
      <div class="widget-details">
        <div class="climacon hail sun fa-4x"></div>
      </div>
    </section>
  </div>
  <div class=col-md-2>
    <section class="widget bg-warning text-center">
      <div class="widget-details">
        <h2 class="no-margin bold">{{dashboardData.TotalClient}}</h2>
        <small class="text-uppercase">Total Client</small>
      </div>
      <div class="widget-details">
        <div class="climacon hail sun fa-4x"></div>
      </div>
    </section>
  </div>
  <div class=col-md-2>
    <section class="widget bg-lightgreen text-center">
      <div class="widget-details">
        <h2 class="no-margin bold">{{dashboardData.TotalLawFirm}}</h2>
        <small class="text-uppercase">Total Law Firm</small>
      </div>
      <div class="widget-details">
        <div class="climacon hail sun fa-4x"></div>
      </div>
    </section>
  </div>
  <div class=col-md-2>
    <section class="widget bg-lightblue text-center">
      <div class="widget-details">
        <h2 class="no-margin bold">{{dashboardData.TotalOther}}</h2>
        <small class="text-uppercase">Total Other</small>
      </div>
      <div class="widget-details">
        <div class="climacon hail sun fa-4x"></div>
      </div>
    </section>
  </div>
</div>
<div class="row mb25">
  <div class=col-md-12>
    <div class=box-tab>
      <ul class="nav nav-tabs">
        <li class=active>
          <a href=#new data-toggle=tab (click)="getNewlyAddedData()">Latest Contacts</a>
        </li>
        <li>
          <a href=#client data-toggle=tab (click)="tabSelect(1)">Client</a>
        </li>
        <li>
          <a href=#advocate data-toggle=tab (click)="tabSelect(2)">Advocate</a>
        </li>
        <li>
          <a href=#law data-toggle=tab (click)="tabSelect(3)">Law Firm</a>
        </li>
        <li>
          <a href=#other data-toggle=tab (click)="tabSelect(4)">Other</a>
        </li>
      </ul>
      <div class=tab-content>
        <div class="tab-pane active in" *ngIf=" contactType=== 'NewlyAdded'" id='new'>
          <app-contact-grid class="p10" [page]="page" [loadingIndicator]="loadingIndicator" (onFilter)="onFilter($event)" [filterModel]="filterModel"
            (onSortChange)="onSort($event)" (getPageData)="setPage($event)" [cType]="contactType" [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='client'>
          <app-contact-grid class="p10" *ngIf="contactType=== 'Client'" [loadingIndicator]="loadingIndicator" (onSortChange)="onSort($event)"
            [cType]="contactType" [filterModel]="filterModel" (onFilter)="onFilter($event)" [page]="page" (getPageData)="setPage($event)"
            [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='advocate'>
          <app-contact-grid class="p10" [page]="page" (getPageData)="setPage($event)" [loadingIndicator]="loadingIndicator" (onSortChange)="onSort($event)"
            [cType]="contactType" [filterModel]="filterModel" (onFilter)="onFilter($event)" *ngIf="contactType=== 'Advocate'"
            [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='law'>
          <app-contact-grid class="p10" [page]="page" *ngIf="contactType=== 'LawFirm'" [loadingIndicator]="loadingIndicator" (onSortChange)="onSort($event)"
            [cType]="contactType" [filterModel]="filterModel" (onFilter)="onFilter($event)" (getPageData)="setPage($event)"
            [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='other'>
          <app-contact-grid class="p10" [page]="page" *ngIf="contactType=== 'Other'" [loadingIndicator]="loadingIndicator" (onSortChange)="onSort($event)"
            [cType]="contactType" (getPageData)="setPage($event)" [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
      </div>
    </div>
  </div>
</div>