<div class=panel>
  <div class="panel-heading border">
    <span class="pull-left">
      <b>Notes</b>
    </span>
    <div class="pb30">
      <button type="button" class="btn btn-create pull-right" kendoButton (click)="createNewNote()">
        <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
    </div>
  </div>
  <div class=panel-body>
    <ngx-datatable class="bootstrap" [rows]="rows" [headerHeight]="40" [footerHeight]="40" [loadingIndicator]="loadingIndicator"
      [rowHeight]="'auto'" [columnMode]="'force'">
      <ngx-datatable-column name="Note Date" sortable="true" prop="NoteDate">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Notes By" sortable="true" prop="NotesByName">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Subject" sortable="true" prop="Subject">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Important Note" sortable="true" prop="IsImportant">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <i class="big-icon fa {{ value ? 'fa-star' : 'fa-star-o' }}" aria-hidden="true"></i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [sortable]="false" prop="Id">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="editClick(value)" md-icon-button>
            <i class="fa fa-edit"></i>
          </button>
          <button (click)="deleteClick(value)" md-icon-button>
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>