<ngx-datatable class="bootstrap" [rows]="_data" [headerHeight]="40" [footerHeight]="40" [loadingIndicator]="loadingIndicator"
  [rowHeight]="'auto'" [columnMode]="'force'">
  <ngx-datatable-column name="Title" sortable="true" prop="Title">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Contact Type" sortable="true" prop="ContactType">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="First Name" sortable="true" prop="FirstName">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Last Name" sortable="true" prop="LastName">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Mobile Number" sortable="true" prop="MobileNumber">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Email Id" sortable="true" prop="EmailId">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Company Name" sortable="true" prop="CompanyName">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column *ngIf="showAction" name="Actions" sortable="false" prop="Id">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button (click)="editClick(value)" md-icon-button>
        <i class="fa fa-edit"></i>
      </button>
      <button (click)="deleteClick(value)" md-icon-button>
        <i class="fa fa-trash"></i>
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>