<div>
  <div class="panel mb25">
    <div class="panel-heading border">
      <b>{{ (paramId !='new') ? 'Modify':'Add' }} Case Expense</b>
    </div>
    <div class=panel-body>
      <div class="row no-margin">
        <div class=col-lg-12>
          <form name="caseExpenseForm" (ngSubmit)="caseExpenseForm.form.valid && save()" #caseExpenseForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseId">Case <span class="req">*</span></label>
                  <select class="form-control" [(ngModel)]="model.CaseId" [class.inValidField]="caseExpenseForm.submitted && !model.CaseId" id="CaseId" required name="CaseId" #CaseId="ngModel">
                    <option value="">Select Case</option>
                    <option *ngFor="let case of cases" value={{case.Id}}>
                      {{case.CaseNo}}
                    </option>
                  </select>
                  <label *ngIf="caseExpenseForm.submitted && !model.CaseId" class="err-label">
                    Please select case
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ExpenseName">Expense Name
                    <span class="req">*</span>
                  </label>
                  <input type="text" maxlength="250" id="ExpenseName" [class.inValidField]="caseExpenseForm.submitted && !ExpenseName.valid"
                    name="ExpenseName" required class="form-control" [(ngModel)]="model.ExpenseName" #ExpenseName="ngModel"
                  />
                  <label *ngIf="caseExpenseForm.submitted && !ExpenseName.valid" class="err-label">
                    Please enter Expense Name
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ExpenseDate">Expense Date <span class="req">*</span></label>
                  <input class="form-control" [(ngModel)]="model.ExpenseDate" required ngui-datetime-picker date-only="true" name="ExpenseDate"
                    id="ExpenseDate" #OpenDate="ngModel"  [class.inValidField]="caseExpenseForm.submitted && !model.ExpenseDate"/>
                  <label *ngIf="caseExpenseForm.submitted && !model.ExpenseDate" class="err-label">
                    Please select expense date
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Category">Category <span class="req">*</span></label>
                  <select class="form-control" [(ngModel)]="model.Category" required id="Category" name="Category" #Category="ngModel"
                  [class.inValidField]="caseExpenseForm.submitted && !model.Category">
                    <option value=''>Select Expense Category</option>
                    <option *ngFor="let category of CategoryDropDown" value={{category.Id}}>
                      {{category.ExpenseTypeName}}
                    </option>
                  </select>
                  <label *ngIf="caseExpenseForm.submitted && !model.Category" class="err-label">
                    Please select Category
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Description">Description</label>
                  <textarea class="form-control" rows="3" id="Description" name="Description" maxlength="250" [(ngModel)]="model.Description"
                    #Description="ngModel"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Amount">Amount
                    <span class="req">*</span>
                  </label>
                  <input class="form-control" type="number" [class.inValidField]="(caseExpenseForm.submitted || Amount.dirty) && Amount.errors"
                    id="Amount" name="Amount" pattern="^\d+(\.\d{1,2})?$" step="0.01" [(ngModel)]="model.Amount" #Amount="ngModel"
                    required />
                  <label *ngIf="(caseExpenseForm.submitted || Amount.dirty) && Amount.errors && Amount.errors['required']" class="err-label">
                    Please enter Amount</label>
                  <label *ngIf="(caseExpenseForm.submitted || Amount.dirty) && Amount.errors && Amount.errors['pattern']" class="err-label">
                    Enter Valid Amount</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="AssociateContactId">Associate Contact</label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="AssociateContactId" name="AssociateContactId" [source]="contactSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" (valueChanged)="onSelectContact($event)"
                    value-property-name="Id" display-property-name="Name" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseId">Bill Document</label>
                  <div>{{ fileName || 'Select File'}}
                  </div>
                  <a href="javascript:void(0);" class="change btn btn-primary" (click)="fileUpload.click()">Browse</a>
                  <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="downloadDocument()">
                    <i class="fa fa-cloud-download mr5" aria-hidden="true"></i>Download</a>
                  <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="deleteDocument()">
                    <i class="fa fa-trash mr5" aria-hidden="true"></i>Delete</a>
                  <input type="file" class="fileUpload" #fileUpload style="display:none" accept=".doc, application/pdf, image/jpg, image/jpeg, image/png"
                    #fileUpload style="display:none" (change)="onFileChange($event)" />
                </div>
              </div>
            </div>
            <div class="row">
              <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
                <i class="fa fa-times-circle mr5"></i> Cancel
              </a>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
  <div class="clr"></div>
</div>