<div class=panel>
  <div class="panel-heading border">
    <span class="pull-left">
      <b>Communication Dashboard</b>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="profile-sidebar">
      <div class="profile-sidebar-item profile-avatar">
        <img [src]="url" class="img-rounded" alt="">
      </div>
      <hr>
      <ul class="profile-sidebar-item profile-numbers-count">
        <li>
          <span class="bold">{{caseDetails.CaseNo}}</span> Case No </li>
        <li>
          <span class="bold">{{caseDetails.CaseType}}</span> Case Type </li>
      </ul>
      <hr>
      <div class="profile-sidebar-item profile-bio">
        <small class="bold text-uppercase">Description</small>
        <p>{{caseDetails.Description}}</p>
      </div>
      <!--<hr>
       <div class="profile-sidebar-item profile-reccomendations">
        <small class="bold text-uppercase">Reccomendations</small>
        <ul class="user-meta">
          <li>
            <a href=javascript:;>All stream</a>
          </li>
          <li>
            <a href=javascript:;>Connected Apps</a>
          </li>
          <li>
            <a href=javascript:;>Photos</a>
          </li>
          <li>
            <a href=javascript:;>Most recent</a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="col-sm-9">
    <section class="profile-timeline" *ngFor="let communication of caseCommunications | orderBy : 'CommunicateDate': true">
      <div class="profile-timeline-header ">
        <!-- <a href=javascript:; class="profile-timeline-user ">
          <img [src]="url " alt=" " class="img-circle ">
        </a> -->
        <div class="profile-timeline-user-details ">
          <a href=javascript:; class="bold ">{{communication.Summary}}</a>
          <br>
          <em class="text-success small ">{{communication.CommunicateDate | date: 'dd/MM/yyyy'}}</em>
        </div>
      </div>
      <div class="profile-timeline-content ">
        <p>
          {{communication.CommunicationDetails}}
        </p>

      </div>
    </section>
  </div>
</div>