<div class="sidebar-panel offscreen-left">
  <div class=brand>
    <div class=brand-logo>
      <img src="assets/images/logo.c5cdf202.png" height=15 alt=""> </div>
    <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-toggle=layout-small-menu>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <nav role="navigation">
    <perfect-scrollbar>
      <ul class="nav">
        <li [routerLinkActive]="['active']">
          <a [routerLink]='["/contact"]'>
            <i class="fa fa-flask"></i>
            <span>Contact</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]='["/case"]'>
            <i class="fa fa-toggle-on"></i>
            <span>Case</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]='["/case-expense"]'>
            <i class="fa fa-toggle-on"></i>
            <span>Case Expense</span>
          </a>
        </li>

      </ul>
    </perfect-scrollbar>
  </nav>

</div>