<div>
  <div class="panel mb25">
    <div class="panel-heading border">
      <b>{{ (paramId !='new') ? 'Modify':'Add' }} Case</b>
    </div>
    <div class=panel-body>
      <div class="row no-margin">
        <div class=col-lg-12>
          <form name="caseForm" (ngSubmit)="caseForm.form.valid && save()" #caseForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseNo">Case No
                    <span class="req">*</span>
                  </label>
                  <input type="text" maxlength="50" id="CaseNo" name="CaseNo" [class.inValidField]="caseForm.submitted && !CaseNo.valid" required
                    class="form-control" [(ngModel)]="model.CaseNo" #CaseNo="ngModel" />
                  <label *ngIf="caseForm.submitted && !CaseNo.valid" class="err-label">
                    Please enter Case number
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ClientId">Client
                    <span class="req">*</span>
                  </label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="ClientId" [class.inValidField]="caseForm.submitted && !model.ClientId"
                    name="ClientId" [source]="contactSearch.bind(this)" min-chars="2" [list-formatter]="autocompleListFormatter"
                    [accept-user-input]="false" (valueChanged)="onSelectClient($event)" value-property-name="Id" display-property-name="Name"
                  />
                  <label *ngIf="caseForm.submitted && !model.ClientId" class="err-label">
                    Please select valid Client
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="NickName">Nick Name</label>
                  <input type="text" maxlength="100" id="NickName" name="NickName" class="form-control" [(ngModel)]="model.NickName" #NickName="ngModel"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="DoctNumber">Doct Number</label>
                  <input type="text" maxlength="100" id="DoctNumber" name="DoctNumber" class="form-control" [(ngModel)]="model.DoctNumber"
                    #DoctNumber="ngModel" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseType">Case Type
                    <span class="req">*</span>
                  </label>
                  <select class="form-control" [(ngModel)]="model.CaseType" id="CaseType" [class.inValidField]="caseForm.submitted && !model.CaseType"
                    name="CaseType" #CaseType="ngModel">
                    <option [value]='undefined'>Select Case Type</option>
                    <option *ngFor="let caseType of CaseTypeDropDown" value={{caseType.Id}}>
                      {{caseType.Name}}
                    </option>
                  </select>
                  <label *ngIf="caseForm.submitted && !model.CaseType" class="err-label">
                    Please select Case Type
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseYear">Case Year</label>
                  <input type="text" maxlength="4" name="CaseYear" id="CaseYear" class="form-control" [(ngModel)]="model.CaseYear" #CaseYear="ngModel"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseAppealType">Case Appeal Type</label>
                  <select class="form-control" [(ngModel)]="model.CaseAppealType" id="CaseAppealType" name="CaseAppealType" #CaseAppealType="ngModel">
                    <option [value]='undefined'>Select CaseAppeal Type</option>
                    <option *ngFor="let caseAppealType of CaseAppealTypeDropDown" value={{caseAppealType.Id}}>
                      {{caseAppealType.AppealTypeName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="City">City</label>
                  <input type="text" id="City" name="City" maxlength="25" class="form-control" [(ngModel)]="model.City" #City="ngModel" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CourtId">Court
                    <span class="req">*</span>
                  </label>
                  <select class="form-control" required [(ngModel)]="model.CourtId" [class.inValidField]="caseForm.submitted && !model.CourtId"
                    id="CourtId" name="CourtId" #CourtId="ngModel">
                    <option [value]='undefined'>Select Court</option>
                    <option *ngFor="let court of courts" [value]='court.Id'>
                      {{court.CourtName}}
                    </option>
                  </select>
                  <label *ngIf="caseForm.submitted && !model.CourtId" class="err-label">
                    Please select Court
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="JudgeId">Judge</label>
                  <!-- <select class="form-control" [(ngModel)]="model.JudgeId" id="JudgeId" name="JudgeId" #JudgeId="ngModel">
                    <option [value]='undefined'>Select Judge</option>
                    <option *ngFor="let judge of judges" [value]='judge.Id'>
                      {{judge.FirstName}} {{judge.LastName}}
                    </option>
                  </select> -->
                  <angular2-multiselect [data]="judges" [(ngModel)]="selectedJudges" [settings]="settings" class="form-control" #JudgeId="ngModel"
                    name="JudgeId" id="JudgeId" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                  </angular2-multiselect>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Description">Description</label>
                  <textarea class="form-control" rows="3" id="Description" name="Description" maxlength="250" [(ngModel)]="model.Description"
                    #Description="ngModel"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="AppearedFor">Appeared For</label>
                  <input type="text" id="AppearedFor" name="AppearedFor" maxlength="250" class="form-control" [(ngModel)]="model.AppearedFor"
                    #AppearedFor="ngModel" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="OpponentContactId">Opponent Contact
                    <span class="req">*</span>
                  </label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="OpponentContactId" [class.inValidField]="caseForm.submitted && !model.OpponentContactId"
                    name="OpponentContactId" [source]="contactSearch.bind(this)" min-chars="2" [list-formatter]="autocompleListFormatter"
                    [accept-user-input]="false" (valueChanged)="onSelectOponent($event)" value-property-name="Id" display-property-name="Name"
                  />
                  <label *ngIf="caseForm.submitted && !model.OpponentContactId" class="err-label">
                    Please select valid Opponent
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="OppnentAdvocateId">Oppnent Advocate</label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="OppnentAdvocateId" name="OppnentAdvocateId" [source]="advocateSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" (valueChanged)="onSelectOponentAdvocate($event)"
                    value-property-name="Id" display-property-name="Name" />
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="WitnessContactId">Witness Contact</label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="WitnessContactId" name="WitnessContactId" [source]="contactSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" (valueChanged)="onSelectWitness($event)"
                    value-property-name="Id" display-property-name="Name" />
                  <!-- <input autocomplete class="form-control" [items]="contacts" (inputChangedEvent)="contactSearch($event)" (selectEvent)="onSelectWitness($event)"> -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Priority">Priority</label>
                  <select class="form-control" [(ngModel)]="model.Priority" id="Priority" name="Priority" #Priority="ngModel">
                    <option [value]='undefined'>Select Priority</option>
                    <option *ngFor="let priority of PriorityDropDown" value={{priority.Id}}>
                      {{priority.Name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="OpenDate">Open Date</label>
                  <input class="form-control" [(ngModel)]="model.OpenDate" ngui-datetime-picker date-only="true" name="OpenDate" id="OpenDate"
                    #OpenDate="ngModel" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="EndDate">End Date</label>
                  <input class="form-control" [(ngModel)]="model.EndDate" ngui-datetime-picker date-only="true" name="EndDate" id="EndDate"
                    #EndDate="ngModel" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="WorkedAs">Worked As</label>
                  <select class="form-control" [(ngModel)]="model.WorkedAs" id="WorkedAs" name="WorkedAs" #WorkedAs="ngModel">
                    <option [value]='undefined'>Select Worked As</option>
                    <option *ngFor="let wa of WorkedAsDropDown" value={{wa.Id}}>
                      {{wa.Name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseStatus">Case Status</label>
                  <input type="text" maxlength="250" id="CaseStatus" name="CaseStatus" class="form-control" [(ngModel)]="model.CaseStatus"
                    #CaseStatus="ngModel" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="OfficeAddressId">Office Address</label>
                  <select class="form-control" [(ngModel)]="model.OfficeAddressId" id="OfficeAddressId" name="OfficeAddressId" #OfficeAddressId="ngModel">
                    <option [value]='undefined'>Select Office Address</option>
                    <option *ngFor="let office of offices" value={{office.Id}}>
                      {{office.Address1}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="RefferenceNumber">Refference Number</label>
                  <input type="text" maxlength="250" id="RefferenceNumber" name="RefferenceNumber" class="form-control" [(ngModel)]="model.RefferenceNumber"
                    #RefferenceNumber="ngModel" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="IsClose" [(ngModel)]="model.IsClose" #IsClose="ngModel"> Is Close
                  </label>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="model.IsClose">
                <div class="form-group">
                  <label for="CloseDate">Close Date</label>
                  <input class="form-control" [(ngModel)]="model.CloseDate" ngui-datetime-picker date-only="true" name="CloseDate" id="CloseDate"
                    #CloseDate="ngModel" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6" *ngIf="model.IsClose">
                <div class="form-group">
                  <label for="JugmentFavourTo">Jugment Favour To</label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="JugmentFavourId" name="JugmentFavourId" [source]="contactSearch.bind(this)"
                    min-chars="3" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" (valueChanged)="onSelectJugmentFavourTo($event)"
                    value-property-name="Id" display-property-name="Name" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="FilledDate">Filled Date</label>
                  <input class="form-control" [(ngModel)]="model.FilledDate" ngui-datetime-picker date-only="true" name="FilledDate" id="FilledDate"
                    #FilledDate="ngModel" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6" *ngIf="model.IsClose">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="NotifyMe" [(ngModel)]="model.NotifyMe" #NotifyMe="ngModel"> Notify Me
                  </label>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="model.NotifyMe && model.IsClose">
                <div class="form-group">
                  <label for="NotifyMeWhen">NotifyMe When</label>
                  <input class="form-control" [(ngModel)]="model.NotifyMeWhen" name="NotifyMeWhen" id="NotifyMeWhen" #NotifyMeWhen="ngModel"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="AdvanceFees">Advance Fees</label>
                  <input class="form-control" type="number" id="AdvanceFees" name="AdvanceFees" pattern="^\d+(\.\d{1,2})?$" step="0.01" [(ngModel)]="model.AdvanceFees"
                    #AdvanceFees="ngModel" />
                  <label *ngIf="(caseForm.submitted || AdvanceFees.dirty) && AdvanceFees.errors && AdvanceFees.errors['pattern']" class="err-label">
                    Enter Valid Advance Fees</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="PricingType">Pricing Type</label>
                  <input class="form-control" [(ngModel)]="model.PricingType" name="PricingType" id="PricingType" #PricingType="ngModel" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CourtFees">Court Fees</label>
                  <input class="form-control" type="number" id="CourtFees" name="CourtFees" pattern="^\d+(\.\d{1,2})?$" step="0.01" [(ngModel)]="model.CourtFees"
                    #CourtFees="ngModel" />
                  <label *ngIf="(caseForm.submitted || CourtFees.dirty) && CourtFees.errors && CourtFees.errors['pattern']" class="err-label">
                    Enter Valid Court Fees</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="BillingFrequency">Billing Frequency</label>
                  <input class="form-control" [(ngModel)]="model.BillingFrequency" name="BillingFrequency" id="BillingFrequency" #BillingFrequency="ngModel"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="BillingDate">Billing Date</label>
                  <input class="form-control" [(ngModel)]="model.BillingDate" ngui-datetime-picker date-only="true" name="BillingDate" id="BillingDate"
                    #BillingDate="ngModel" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="TrustAccount">Trust Account</label>
                  <input class="form-control" type="number" id="TrustAccount" name="TrustAccount" pattern="^\d+(\.\d{1,2})?$" step="0.01" [(ngModel)]="model.TrustAccount"
                    #TrustAccount="ngModel" />
                  <label *ngIf="(caseForm.submitted || TrustAccount.dirty) && TrustAccount.errors && TrustAccount.errors['pattern']" class="err-label">
                    Enter Valid Trust Account</label>
                </div>
              </div>
            </div>

            <div class="row">
              <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
                <i class="fa fa-times-circle mr5"></i> Cancel
              </a>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
              </button>
              <!-- <button type="button" *ngIf="paramId !== 'new'" class="btn btn-success" (click)="addCommunication()">Add Communication</button>
              <button type="button" *ngIf="paramId !== 'new'" class="btn btn-success" (click)="addTimeTrackingDetails()">Add Time</button>
              <button type="button" *ngIf="paramId !== 'new'" class="btn btn-success" (click)="addNote()">Add Note</button>
              <button type="button" *ngIf="paramId !== 'new'" class="btn btn-success" (click)="addDocument()">Add Document</button> -->
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
  <div class="clr"></div>
</div>
