<div class=panel>
  <div class="panel-heading border">
    <span class="pull-left">
      <b>Cases</b>
    </span>
    <div class="pb30">
      <button type="button" class="btn btn-success pull-right" kendoButton (click)="router.navigate(['/case/new'])">Create</button>
    </div>

  </div>
  <div class=panel-body>
    <ngx-datatable class="bootstrap" [rows]="rows" [headerHeight]="40" [footerHeight]="40" [loadingIndicator]="loadingIndicator"
      [rowHeight]="'auto'" [columnMode]="'force'">
      <ngx-datatable-column name="Case Number" sortable="true" prop="CaseNo">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Case Type" sortable="true" prop="CaseType">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Start Date" sortable="true" prop="OpenDate">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="End Date" sortable="true" prop="EndDate">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Refference Number" sortable="true" prop="RefferenceNumber">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Status" sortable="true" prop="CaseStatus">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" sortable="false" prop="Id">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button title="Edit" (click)="editClick(value)" md-icon-button>
            <i class="fa fa-edit"></i>
          </button>
          <button title="Delete" (click)="deleteClick(value)" md-icon-button>
            <i class="fa fa-trash"></i>
          </button>
          <button title="Change Status" (click)="changeStatus(row)" md-icon-button>
            <i class="fa fa-repeat"></i>
          </button>
          <button title="Show Communication" (click)="showCommunication(row)" md-icon-button>
            <i class="fa fa-bullhorn"></i>
          </button>
          <button title="Show Time Tracker" (click)="ShowTimeTracker(row)" md-icon-button>
            <i class="fa fa-clock-o"></i>
          </button>
          <button title="Show Notes" (click)="ShowNotes(row)" md-icon-button>
            <i class="fa fa-file-text"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>