<div class=panel>
  <div class="panel-heading border">
    <span class="pull-left">
      <b>Expense Types</b>
    </span>
    <div class="pb30">
      <button type="button" class="btn btn-success pull-right" kendoButton (click)="router.navigate(['/expense-type/new'])">Create</button>
    </div>

  </div>
  <div class=panel-body>
    <ngx-datatable class="bootstrap" [rows]="rows" [headerHeight]="40" [footerHeight]="40" [loadingIndicator]="loadingIndicator"
      [rowHeight]="'auto'" [columnMode]="'force'">
      <ngx-datatable-column name="Expense Type Name" sortable="true" prop="ExpenseTypeName">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Basic Price" sortable="true" prop="BasicPrice">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" sortable="false" prop="Id">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button title="Edit" (click)="editClick(value)" md-icon-button>
            <i class="fa fa-edit"></i>
          </button>
          <button title="Delete" (click)="deleteClick(value)" md-icon-button>
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>