<div>
  <div class="panel mb25">
    <div class="panel-heading border">
      <b>{{ (paramId !='new') ? 'Modify':'Add' }} Expense Type</b>
    </div>
    <div class=panel-body>
      <div class="row no-margin">
        <div class=col-lg-12>
          <form name="expenseTypeForm" (ngSubmit)="expenseTypeForm.form.valid && save()" #expenseTypeForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="expenseType">Expense Type Name</label>
                  <input class="form-control" [(ngModel)]="model.ExpenseTypeName" type="text" #expenseType="ngModel" required name="expenseType"
                    id="expenseType" />
                  <label *ngIf="expenseTypeForm.submitted && !expenseType.valid" class="err-label">
                    Please enter Expense Type Name.
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="basicPrice">Basic Price</label>
                  <input class="form-control" [(ngModel)]="model.BasicPrice" type="number" pattern="^\d+(\.\d{1,2})?$" step="0.1" #basicPrice="ngModel"
                    required name="basicPrice" id="basicPrice" />
                  <label *ngIf="expenseTypeForm.submitted && !basicPrice.valid" class="err-label">
                    Please enter Basic Price.
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
                <i class="fa fa-times-circle mr5"></i> Cancel
              </a>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="clr"></div>
</div>