/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
.pb30 {
    padding-bottom: 30px;
}

.p10{
    padding: 10px;
}

.err-label{
    color: red !important;
}

.ml5 {
    margin-left: 5px;
}

.mb20{
    margin-bottom: 20px;
}

.bottom-border{
    border-bottom: 1px solid rgba(0,0,0,.06);
    padding-bottom: 10px;
    padding-top: 15px;
}

.empty-row {text-align: center; padding:10px; font-weight: bold;}