<div class="custom-modal-container px-4">
  <div class="row custom-modal-header">
    <div class="col">
      <h2 class="my-3">Add Site</h2>
    </div>
  </div>
  <form [formGroup]="siteForm" (ngSubmit)="addSite()" novalidate>
    <div class="row">
      <div class="col">
        <div class="form-group" [ngClass]="{ 'has-error': siteForm.controls.name.touched && siteForm.controls.name.invalid }">
          <label for="name">Name</label>
          <input type="text" class="form-control" [zwimloPlaceholder]="'Site Name *'" formControlName="name" />
          <control-messages [name]="'Name'" [control]="siteForm.controls.name" [isFormSubmitted]="isFormSubmitted"></control-messages>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': siteForm.controls.description.touched && siteForm.controls.description.invalid }">
          <label for="description">Description</label>
          <textarea type="text" class="form-control" [zwimloPlaceholder]="'Site Description *'" formControlName="description"></textarea>
          <control-messages [name]="'Description'" [control]="siteForm.controls.description" [isFormSubmitted]="isFormSubmitted"></control-messages>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': siteForm.controls.defaultLocale.touched && siteForm.controls.defaultLocale.invalid }">
          <label for="defaultLocale">Default Locale</label>
          <input type="text" class="form-control" [zwimloPlaceholder]="'Default Locale *'" formControlName="defaultLocale" />
          <control-messages [name]="'Default Locale'" [control]="siteForm.controls.defaultLocale" [isFormSubmitted]="isFormSubmitted"></control-messages>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="siteSecured"> Secure content with access token?
          </label>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-6 d-flex align-items-center justify-content-end">
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-success">Add site</button>
        </div>
      </div>
    </div>
  </form>
  <div class="row custom-modal-footer">
    <div class="col-xs-12">
    </div>
  </div>
</div>
